[user]
	name = Cory Kaufman-Schofield
	email = cory@corykaufman.com
	signingkey = 1145FE273B55BB37BD12B680E0339236B39BC6AE
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = /Users/cory/.gitignore
  autocrlf = input
  editor=vim
	hooksPath = /Users/cory/.git/hooks
[merge]
	tool = vimdiff
  conflictstyle = diff3
	ff = no
[github]
  user = allspiritseve
  token = 1f8be1532b32c93ebb9e3bf2c643bd5a
[rerere]
	enabled = 0
[push]
	default = upstream
[diff]
	tool = vimdiff
[pull]
	ff = only
[init]
	defaultBranch = main
[url "https://@github.com/acretrader"]
	insteadOf = git@github.com:acretrader
[gpg]
	program = gpg
