[user]
	name = Cory Kaufman-Schofield
	email = cory@corykaufman.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = /Users/cory/.gitignore
  autocrlf = input
  editor=vim
[merge]
	tool = vimdiff
  conflictstyle = diff3
	ff = only
[github]
  user = allspiritseve
  token = 1f8be1532b32c93ebb9e3bf2c643bd5a
[rerere]
	enabled = 0
[push]
	default = upstream
[diff]
	tool = vimdiff
